﻿<div>
    <form name="allotmentCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span style="color:green; font-size:medium; font:bold;font-weight:600">Allot Company Process</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="Company" ng-class="{'edited':vm.allotment.title}" ng-model="vm.allotment.title" ng-disabled="true" required>
                <label>@L("Company")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="Address" ng-class="{'edited':vm.allotment.address}" ng-model="vm.allotment.address" ng-disabled="true" required>
                <label>@L("Address")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="Presentlyallotedto" ng-class="{'edited':vm.allotment.presentlyAllotedTo}" ng-disabled="true" ng-model="vm.allotment.presentlyAllotedTo" required>
                <label>@L("Presentlyallotedto")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="cla">@L("Allotto")</label>
                    <ui-select ng-model="allot.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="width: 450px;max-width:100%"
                               title="Choose a Allot Person" ng-required="true">
                        <ui-select-match placeholder="Enter a Allot Person..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.empName}}</ui-select-match>
                        <ui-select-choices repeat="allot in vm.allot | propsFilter: {empName: $select.search}">
                            <div ng-bind-html="allot.empName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="allotmentCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
            </div>



<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
    .modal-dialog {
        width: 60% !important;
    }

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }
</style>

<style>
  
</style>
