﻿<div>
    <form name="countryCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.country.id" style="color:red; font-size:medium; font:bold;font-weight:600">@L("EditCountry"): {{vm.country.countryName}}</span>
                <span ng-if="!vm.country.id">@L("CreateNewCountry")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="CountryName" ng-class="{'edited':vm.country.countryName}" ng-model="vm.country.countryName" required>
                <label>@L("CountryName")</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.country.printCountryName}" ng-model="vm.country.printCountryName">
                        <label>@L("PrintCountryName")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.country.isdCode}" ng-model="vm.country.isdCode">
                        <label>@L("ISDCode")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.country.isoCode}" ng-model="vm.country.isoCode">
                        <label>@L("ISOCode")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.country.isO3Code}" ng-model="vm.country.isO3Code">
                        <label>@L("ISO3Code")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.country.numericCode}" ng-model="vm.country.numericCode">
                        <label>@L("NumericCode")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.country.divisions}" ng-model="vm.country.divisions">
                        <label>@L("Divisions")</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="countryCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
            </div>



<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
    .modal-dialog {
        width: 75% !important;
    }

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }
</style>

<style>
  
</style>
