﻿@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using TIBS.SAFCO.Localization
@using TIBS.SAFCO.Web.Bundling
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>SAFCO</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="SAFCO" name="description" />
    <meta content="SAFCO" name="keywords">
    <meta content="SAFCO" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@

    @Html.IncludeStyle(StylePaths.FontAwesome)
    @Html.IncludeStyle(StylePaths.Simple_Line_Icons)
    @Html.IncludeStyle(CultureHelper.IsRtl ? StylePaths.BootstrapRTL : StylePaths.Bootstrap)
    @Html.IncludeStyle(StylePaths.JQuery_Uniform)
    @Html.IncludeStyle(StylePaths.Toastr)
    @Html.IncludeStyle(StylePaths.SweetAlert)
    @Html.IncludeStyle(StylePaths.FamFamFamFlags)

    @Html.IncludeStyle("~/css/supersized.css")
    @Html.IncludeStyle("~/theme/supersized.shutter.css")

    @Html.IncludeStyle("~/metronic/assets/global/css/components-md" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")
    @Html.IncludeStyle("~/metronic/assets/global/css/plugins-md" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")
    @Html.IncludeStyle("~/metronic/assets/admin/layout/css/layout" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")
    @Html.IncludeStyle("~/metronic/assets/admin/layout/css/themes/default" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")

    @Styles.Render("~/Bundles/Common/css")

    @Html.IncludeStyle("~/Views/Account/_Layout" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")

    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/flip-div.css" />
    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    @*<link rel="stylesheet" href="~/css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/theme/supersized.shutter.css" type="text/css" media="screen" />*@

    @*<script type="text/javascript" src="~/js/jquery-1.10.1.min.js"></script>*@
    

</head>
<body class="page-md login">
    <div class="menu-toggler sidebar-toggler">
    </div>
    
    <div class="content" style="right:130px;bottom:100px;position:absolute;">
        @RenderBody()
    </div>
    
   @* @Html.Action("Languages", "Account")*@
    @*<div class="copyright">
        @Clock.Now.Year © SAFCO.
    </div>*@

    <!--[if lt IE 9]>
        <script src="~/libs/respond/respond.min.js"></script>
        <script src="~/libs/excanvas/excanvas.min.js"></script>
    <![endif]-->
    @Html.IncludeScript(ScriptPaths.Json2)
    @Html.IncludeScript(ScriptPaths.JQuery)
    @Html.IncludeScript(ScriptPaths.JQuery_Migrate)
    @Html.IncludeScript(ScriptPaths.Bootstrap)
    @Html.IncludeScript(ScriptPaths.JQuery_BlockUi)
    @Html.IncludeScript(ScriptPaths.JQuery_Uniform)
    @Html.IncludeScript(ScriptPaths.JQuery_Cookie)
    @Html.IncludeScript(ScriptPaths.Toastr)
    @Html.IncludeScript(ScriptPaths.SpinJs)
    @Html.IncludeScript(ScriptPaths.SpinJs_JQuery)
    @Html.IncludeScript(ScriptPaths.SweetAlert)
    @Html.IncludeScript(ScriptPaths.Abp)
    @Html.IncludeScript(ScriptPaths.Abp_JQuery)
    @Html.IncludeScript(ScriptPaths.Abp_BlockUi)
    @Html.IncludeScript(ScriptPaths.Abp_SpinJs)
    @Html.IncludeScript(ScriptPaths.Abp_Toastr)
    @Html.IncludeScript(ScriptPaths.Abp_SweetAlert)
    
    <script type="text/javascript" src="~/js/jquery.easing.min.js"></script>

    <script type="text/javascript" src="~/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="~/theme/supersized.shutter.min.js"></script>
    <script type="text/javascript" src="~/theme/supersized.shutter.js"></script>

    <script type="text/javascript">
        //window.history.forward(-1);
        jQuery(function ($) {

            $.supersized({

                // Functionality
                slide_interval: 3000,		// Length between transitions
                transition: 1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
                transition_speed: 700,		// Speed of transition
                // Components						<img src="Images/Slides/1.png" />

                slide_links: 'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')

                slides: [			// Slideshow Images
                            { image: '/images1/Slides/1.png', title: 'Product: Strawberries', thumb: '/images1/thumbs/1thumb.png' },
                            { image: '/images1/Slides/2.png', title: 'Product: Crossents', thumb: '/images1/thumbs/2thumb.png' },
                            { image: '/images1/Slides/3.png', title: 'Product: Chocolate Cookies', thumb: '/images1/thumbs/3thumb.png' },
                            { image: '/images1/Slides/4.png', title: 'Product: Chocolate Cakes', thumb: '/images1/thumbs/4thumb.png' },
                            { image: '/images1/Slides/5.png', title: 'Product: Cup Cakes', thumb: '/images1/thumbs/5thumb.png' },
                            { image: '/images1/Slides/6.png', title: 'Product: Cereals', thumb: '/images1/thumbs/6thumb.png' },
                            { image: '/images1/Slides/7.png', title: 'Product: Pasteries', thumb: '/images1/thumbs/7thumb.png' },
                            { image: '/images1/Slides/8.png', title: 'Product: Pan Cakes', thumb: '/images1/thumbs/8thumb.png' },
                            { image: '/images1/Slides/9.png', title: 'Product: Cofee', thumb: '/images1/thumbs/9thumb.png' }
                ]
            });
        });

    </script>
    
    @*<script type="text/javascript" src="~/js/flip-div.js"></script>*@

    <script type="text/javascript">
        abp.localization.defaultSourceName = '@LocalizationSourceName';
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    @Html.IncludeScript(ScriptPaths.JQuery_Validation)
    @Html.IncludeScript(ScriptPaths.JQuery_Validation_Localization)

    @Html.IncludeScript("~/metronic/assets/global/scripts/app.js")
    <script type="text/javascript">
        App.setAssetsPath(abp.appPath + 'metronic/assets/');
    </script>

    @Scripts.Render("~/Bundles/Common/js")

    @Html.IncludeScript("~/metronic/assets/admin/layout/scripts/layout.js")

    @RenderSection("Scripts", false)

    <script>
        jQuery(document).ready(function () {
            CurrentPage && CurrentPage.init();
        });
    </script>
</body>
</html>


