﻿@using Abp.Web.Mvc.Extensions
@using TIBS.SAFCO.MultiTenancy
@{
    Layout = "~/Views/Account/_LoginPage1.cshtml";
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ForgotPassword.js")
}
<div id="thumb-tray" class="load-item">
    <div id="thumb-back"></div>
    <div id="thumb-forward"></div>
</div>

<!--Time Bar-->
<div id="progress-back" class="load-item">
    <div id="progress-bar"></div>
</div>

<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
    <div id="controls">

        <a id="play-button">
            <img id="pauseplay" src="~/Images1/Login/pause.png" />
        </a>

        <!--Slide counter-->
        <div id="slidecounter">
            <span class="slidenumber"></span>/ <span class="totalslides"></span>
        </div>

        <!--Slide captions displayed here-->
        <div id="slidecaption"></div>

        <!--Thumb Tray button-->
        @*<a id="tray-button">
                <img id="tray-arrow" src="~/Images1/Login/button-tray-up.png" />
            </a>*@

        <!--Navigation-->
        <ul id="slide-list"></ul>

    </div>
    </div>
    <form class="forget-form" action="@Url.Action("SendPasswordResetLink")" method="post">
        <h3>@L("ForgotPassword")</h3>
        <p>
            @L("SendPasswordResetLink_Information")
        </p>
        @Html.AntiForgeryToken()
        @if (ViewBag.IsMultiTenancyEnabled)
        {
            if (string.IsNullOrEmpty(ViewBag.TenancyName))
            {
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
                </div>
            }
            else
            {
                <input type="hidden" name="tenancyName" value="@ViewBag.TenancyName" />
            }
        }
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@L("EmailAddress")</label>
            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@TIBS.SAFCO.Authorization.Users.User.MaxEmailAddressLength" />
        </div>
        <div class="form-actions">
            <a href="@Url.Action("Login", "Account")"><button type="button" id="back-btn" class="btn btn-default">@L("Back")</button></a>
            <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
        </div>
    </form>
