﻿@model TIBS.SAFCO.Web.Models.Account.RegisterResultViewModel
@{
    ViewBag.Title = "title";
}
<h4>@L("SuccessfullyRegistered").</h4>
<ul>
    <li><span class="text-muted">@L("NameSurname"):</span> @Model.NameAndSurname</li>
    <li><span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName</li>
    <li><span class="text-muted">@L("UserName"):</span> @Model.UserName</li>
    <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
</ul>
<div>
    @if (Model.IsEmailConfirmationRequired)
    {
        <div class="alert alert-warning" role="alert">
            @L("ConfirmationMailSentPleaseClickLinkInTheEmail", Model.EmailAddress)
        </div>
    }
    @if (!Model.IsActive)
    {
        <div class="alert alert-warning" role="alert">
            @L("YourAccountIsWaitingToBeActivatedByAdmin")
        </div>
    }
</div>