﻿@using Abp.Web.Mvc.Extensions
@model TIBS.SAFCO.Web.Models.Account.ResetPasswordViewModel
@{
    Layout = "~/Views/Account/_LoginPage1.cshtml";
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
<div id="thumb-tray" class="load-item">
    <div id="thumb-back"></div>
    <div id="thumb-forward"></div>
</div>

<!--Time Bar-->
<div id="progress-back" class="load-item">
    <div id="progress-bar"></div>
</div>

<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
    <div id="controls">

        <a id="play-button">
            <img id="pauseplay" src="~/Images1/Login/pause.png" />
        </a>

        <!--Slide counter-->
        <div id="slidecounter">
            <span class="slidenumber"></span>/ <span class="totalslides"></span>
        </div>

        <!--Slide captions displayed here-->
        <div id="slidecaption"></div>

        <!--Thumb Tray button-->
        @*<a id="tray-button">
                <img id="tray-arrow" src="~/Images1/Login/button-tray-up.png" />
            </a>*@

        <!--Navigation-->
        <ul id="slide-list"></ul>

    </div>
</div>
<form class="pass-reset-form" action="@Url.Action("ResetPassword")" method="post">
    <h3>@L("ChangePassword")</h3>
    <p>
        @L("PleaseEnterYourNewPassword")
    </p>
    <input type="hidden" name="UserId" value="@Model.UserId">
    <input type="hidden" name="ResetCode" value="@Model.ResetCode">
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("Password")</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required maxlength="@TIBS.SAFCO.Authorization.Users.User.MaxPlainPasswordLength" minlength="@TIBS.SAFCO.Authorization.Users.User.MinPlainPasswordLength" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("PasswordRepeat")</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required maxlength="@TIBS.SAFCO.Authorization.Users.User.MaxPlainPasswordLength" minlength="@TIBS.SAFCO.Authorization.Users.User.MinPlainPasswordLength" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
    </div>
</form>