﻿@model TIBS.SAFCO.Web.Models.Account.TenantSelectionViewModel
<form action="@Model.Action" method="POST">
    
    <h3>@L("TenantSelection")</h3>
    
    <p>
        @L("TenantSelection_Detail")
    </p>

    <div class="form-group form-md-radios">
        <div class="md-radio-list">
            @for (int i = 0; i < Model.Tenants.Count; i++)
            {
                var tenant = Model.Tenants[i];
                <div class="md-radio">
                    @{
                        string checkAttr = null;
                        if (i == 0)
                        {
                            checkAttr = "checked=\"checked\"";
                        }
                    }
                    <input type="radio" class="md-radiobtn" id="TenancyName_@(tenant.TenancyName)" name="TenancyName" value="@tenant.TenancyName" @checkAttr>
                    <label for="TenancyName_@(tenant.TenancyName)">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @tenant.Name (@tenant.TenancyName)
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
    </div>
</form>