﻿<div ng-controller="tenant.views.Notieceboard.index as vm">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light ">
                @*<div class="portlet-title">
                    <div class="caption">
                        <i class="icon-cursor font-purple"></i>
                        <span class="caption-subject font-purple bold uppercase">Conversion Rates</span>
                    </div>
                </div>*@
                <div class="portlet-body" style="padding-top: 0px !important;">
                    <div class="row">
                        @*<a href="" class="widget-stats widget-stats-2 widget-stats-easy-pie">
                            <div data-percent="16" class="easy-pie easyPieChart" style="width: 50px; height: 50px; line-height: 50px;"><span class="value">16</span>%<canvas width="50" height="50"></canvas></div>
                            <span class="txt"><span class="count"> 1</span> Dec/15</span>
                            <div class="clearfix"></div>
                        </a>*@
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="chart" easypiechart percent="Presentpercent" options="options">
                                        <span class="percent" ng-bind="Presentpercent"></span>
                                    </span>
                                    <h6 style="text-align: center;">
                                        Month
                                    </h6>
                                </div>
                                <div class="col-md-3">
                                    <span class="chart" easypiechart percent="LastMonthPrescent" options="options1">
                                        <span class="percent" ng-bind="LastMonthPrescent"></span>
                                    </span>
                                    <h6 style="text-align: center;">Previous Month</h6>
                                </div>
                                <div class="col-md-3">
                                    <span class="chart" easypiechart percent="LastSixmonthPrescent" options="options2">
                                        <span class="percent" ng-bind="LastSixmonthPrescent"></span>
                                    </span>
                                    <h6 style="text-align: center;">Six Months</h6>
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <a href="javascript:;" style="background-color:white;height:110px;width:110px;" class="icon-btn">
                                        <br /><br />
                                        <i class="fa fa-users" style="font-size: 35px; color: #EF3F3F"></i>
                                        <div> Total Customers</div>
                                        <span class="badge badge-info " style="background-color: #EF3F3F;"> {{vm.totalcustomerformonth}} </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <br />
                                    <a href="javascript:;" style="background-color:white;height:110px;width:110px;" class="icon-btn">
                                        <br /><br />
                                        <i class="fa fa-money" style="font-size: 35px; color: #EF3F3F"></i>
                                        <div> This Month </div>
                                        <span class="badge badge-info " style="background-color: #EF3F3F;"> {{vm.presentmonthamt}} </span>
                                    </a>

                                </div>

                                <div class="col-md-3">
                                    <br />
                                    <a href="javascript:;" style="background-color:white;height:110px;width:110px;" class="icon-btn">
                                        <br /><br />
                                        <i class="fa fa-money" style="font-size: 35px; color: #EF3F3F"></i>
                                        <div> Last Month </div>
                                        <span class="badge badge-info " style="background-color: #EF3F3F;"> {{vm.lastmonthAmt}} </span>
                                    </a>

                                </div>
                                <div class="col-md-3">
                                 <br />
                                    <a href="javascript:;" style="background-color:white;height:110px;width:110px;" class="icon-btn">
                                        <br /><br />
                                        <i class="fa fa-money" style="font-size: 35px; color: #EF3F3F"></i>
                                        <div> Six Month </div>
                                        <span class="badge badge-info " style="background-color: #EF3F3F;"> {{vm.sixmonthAmt}} </span>
                                    </a>

                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <a  href="javascript:;" style="background-color:white;height:110px;width:110px;" class="icon-btn"><br/>
                                        <i class="fa fa-bolt" style="font-size: 35px; color: #EF3F3F; "></i>
                                        <div> Lead Contribution </div>
                                        <span class="badge badge-info " style="background-color: #EF3F3F;"> {{vm.LeadContributed}} </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-2" style="text-align: center; width: 16% !important;">
                        <br />
                        <div class="dashboard-stat2 ">
                            <table>
                                <tr style="align-content:center;">
                                    <td style="text-align:center;">
                                        <div class="icon font-green-sharp">
                                            <i class="fa fa-bolt" style="font-size:35px"></i>
                                        </div>
                                    </td>
                                    <td></td>

                                </tr>
                                <tr>

                                    <td class="font-green-sharp"><h5>10 Leads Contributed</h5></td>

                                </tr>
                                @*<tr>


                                </tr>
                            </table>
                        </div>

                    </div>*@
                </div>
            </div>
        </div>


                       
    <div class="row">
        
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="fa fa-bolt font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Yesterday Activities</span>
                        </div>
                    </div>
                <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                    <ul class="chats">
                        <div ng-repeat="activity in vm.yesterdayactivity">
                            <li ng-if="activity.loginUser" class="in">
                                <img class="avatar" alt="" src="{{activity.userId}}" />
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                        {{activity.name}}
                                    </a>
                                    <span class="datetime">
                                        at {{activity.activateTime}}<br />{{activity.title}} by {{activity.name}}
                                    </span>
                                    <span class="body">
                                        {{activity.notes}}
                                    </span>
                                </div>
                            </li>

                            <li ng-if="activity.loginUser==false" class="out">
                                <img class="avatar" alt="" src="{{activity.userId}}" " />
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                        {{activity.name}}
                                    </a>
                                    <span class="datetime">
                                        at {{activity.activateTime}}<br />{{activity.title}} by {{activity.name}}
                                    </span>
                                    <span class="body">
                                        {{activity.notes}}
                                    </span>
                                </div>
                            </li>
                        </div>

                    </ul>
                </div>
                        <!-- END PORTLET-->
                    </div>
                
        </div>
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <span class="caption-subject bold uppercase">Scheduled Activities</span>

                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="vm.init()">
                            <i class="fa fa-calendar"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="vm.getUser()">
                            <i class="fa fa-user"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="vm.getorder()">
                            <i class="fa fa-cart-plus"></i>
                        </a>

                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="vm.monthactivity()">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </div>
                </div>
                <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                    <ul class="feeds">

                        <li ng-repeat="schedule in vm.activity">
                            <a href="javascript:;">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-success">
                                                <i class="{{vm.icon}}"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> {{schedule.name}} </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> {{schedule.timeAgo}} </div>
                                </div>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
        

        </div>

    </div>
            <style>
                .chart {
                    position: relative;
                    display: inline-block;
                    width: 110px;
                    height: 110px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    text-align: center;
                }

                    .chart canvas {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                .percent {
                    display: inline-block;
                    line-height: 80px;
                    z-index: 2;
                }

                    .percent:after {
                        content: '%';
                        margin-left: 0.1em;
                        font-size: .8em;
                    }
            </style>
