﻿@using TIBS.SAFCO
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.Activity.id">@L("EditActivity"): {{vm.Activity.ActivityName}}</span>
                <span ng-if="!vm.Activity.id">@L("CreateNewActivity")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="ActivityCode" class="form-control" ng-class="{'edited':vm.Activity.activityCode}" ng-model="vm.Activity.activityCode">
                <label>@L("ActivityCode")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="ActivityName" ng-class="{'edited':vm.Activity.activityName}" ng-model="vm.Activity.activityName">
                <label>@L("ActivityName")</label>
            </div>
            

           
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>