﻿@using TIBS.SAFCO
<div ng-controller="tenant.views.Announcement.createAnnouncementModal as vm">
    <div class="portlet-body">
        <form name="createPersonForm" role="form" novalidate class="form-validation">
            <div class="portlet-title">
                <h4 class="modal-title">
                    <span ng-if="vm.announcement.id">@L("EditAnnouncement"): {{vm.announcement.title}}</span>
                    <span ng-if="!vm.announcement.id">@L("CreateNewAccounctment")</span>
                </h4>
            </div>
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="announcementCode" class="form-control" ng-class="{'edited':vm.announcement.title}" ng-model="vm.announcement.title">
                            <label>@L("Title")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="announcementName" ng-class="{'edited':vm.announcement.description}" ng-model="vm.announcement.description">
                            <label>@L("Description")</label>
                        </div>
                    </div>
                </div>
                <br/><br/><br/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputs inputs-full-width">
                            <label>@L("PublishedDate")</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dates.date1" is-open="vm.open.date1" enable-time="false" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn default" ng-click="vm.openCalendar($event, 'date1')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputs inputs-full-width">
                            <label>@L("ExpiryDate")</label>

                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dates.date2" is-open="vm.open.date2" enable-time="false" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn default" ng-click="vm.openCalendar($event, 'date2')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div><br/><br/><br /><br />
                    <div class="modal-footer">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                
            </div>
        </form>
    </div>
</div>

    <style type="text/css">
        .cla {
            display: block;
            color: #999;
            font-size: 16px;
        }

        .claa {
            border-bottom: 1px solid #999;
            padding-bottom: 10px;
        }

        .modal-dialog {
            width: 75% !important;
        }

        .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
            text-align: center !important;
        }

        .md-checkbox.ng-scope {
            display: inline !important;
        }
    </style>
