﻿<div ng-controller="tenant.views.NewCustomer.index as vm">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-red-sunglo">@L("NewCustomer")</span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o font-green-dark"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen font-red" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Date Range</label></div>
            <div class="col-sm-4"><input date-range-picker type="text" ng-change="vm.change()" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" /></div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.CompanyGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>

    


