@using TIBS.SAFCO;
<div>
    <form name="cityCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.region.id" style="color:red; font-size:medium; font:bold;font-weight:600">@L("EditRegion"): {{vm.region.name}}</span>
                <span ng-if="!vm.region.id">@L("CreateNewRegion")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="code" class="form-control" ng-class="{'edited':vm.region.code}" ng-model="vm.region.code" required maxlength="@GetLength.MaxCodeLength">
                <label>@L("RegionCode")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="name" ng-class="{'edited':vm.region.name}" ng-model="vm.region.name" required maxlength="@GetLength.MaxNamegLength">
                <label>@L("RegionName")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label class="cla">@L("Country")</label>
                <div class="claa">
                    <ui-select ng-model="country.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="width: 450px;max-width:100%"
                               title="Choose a Country" ng-required="true">
                        <ui-select-match placeholder="Enter a Country..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.countryName}}</ui-select-match>
                        <ui-select-choices repeat="country in vm.country | propsFilter: {countryName: $select.search}">
                            <div ng-bind-html="country.countryName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="cityCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
</style>