﻿@using TIBS.SAFCO.Web.Areas.Mpa.Models.Common.Modals

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangePassword")))

<div class="modal-body">
    <form name="ChangePasswordModalForm">
        <div class="form-group form-md-line-input form-md-floating-label">
            <input type="password" name="CurrentPassword" class="form-control" required maxlength="@TIBS.SAFCO.Authorization.Users.User.MaxPlainPasswordLength">
            <label>@L("CurrentPassword")</label>
            <span class="help-block help-block-info">@Html.Raw(L("PasswordChangeDontRememberMessage", "<a href=\"" + Url.Action("ForgotPassword", "Account") + "\">" + L("ClickHere") + "</a>"))</span>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input id="ChangePasswordModal_Password" type="password" name="NewPassword" class="form-control" required maxlength="@TIBS.SAFCO.Authorization.Users.User.MaxPlainPasswordLength" minlength="@TIBS.SAFCO.Authorization.Users.User.MinPlainPasswordLength">
            <label>@L("NewPassword")</label>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="password" name="NewPasswordRepeat" class="form-control" required maxlength="@TIBS.SAFCO.Authorization.Users.User.MaxPlainPasswordLength" minlength="@TIBS.SAFCO.Authorization.Users.User.MinPlainPasswordLength" equalto="#ChangePasswordModal_Password">
            <label>@L("NewPasswordRepeat")</label>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
