﻿<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">

            <h4 class="modal-title">
                <span ng-if="vm.company.id">@L("EditCompetitorCompany"): {{vm.company.competitorCompanyName}}</span>
                <span ng-if="!vm.company.id">@L("CreateCompetitorCompany")</span>
            </h4>

        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="CompetitorCompanyCode" class="form-control" ng-class="{'edited':vm.company.competitorCompanyCode}" ng-model="vm.company.competitorCompanyCode">
                <label>Competitor Company Code</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="CompetitorCompanyName" ng-class="{'edited':vm.company.competitorCompanyName}" ng-model="vm.company.competitorCompanyName">
                <label>Competitor Company Name</label>
            </div>



        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>