﻿<div ng-controller="tenant.views.AddressBook.CompetitorCompany.index as vm">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-red-sunglo">@L("CompetitorCompany")</span>
                @*<span class="caption-helper">Details...</span>*@
            </div>
            <div class="actions">
                <a ng-if="vm.permissions.createCompany" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateCompanyModal()" href="#" data-original-title="" title="Create New Competitor Company">
                    <i class="fa fa-plus font-blue"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o font-green-dark"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen font-red" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
                        <div class="portlet-title">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getCompany()" ng-keyup="vm.getCompany()">
                                            <span class="input-group-btn">
                                                <button ng-click="vm.getCompany()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div busy-if="vm.loading">
                            <div ui-grid="vm.CompetitorCompaniesGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
                        </div>
                    </div>
                </div>
            </div>
