﻿<div ng-controller="tenant.views.LeadManagement.Activities as vm">
    <div class="page-content-wrapper">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Activities</span>
                </div>

            </div>

            <tabset class="tab-container tabbable-line">
                <tab ng-click="vm.tabs('Introduction Call')">
                    <tab-heading tooltip="Introduction Call">
                        <i class="fa fa-phone" style="font-size:30px;color:chocolate"></i>
                    </tab-heading>
                </tab>
                <tab ng-click="vm.tabs('Introduction Email')">
                    <tab-heading tooltip="Introduction Email">
                        <i class="fa fa-envelope-o" style="font-size: 30px; color:chocolate"></i>
                    </tab-heading>
                </tab>
                <tab ng-click="vm.tabs('Followup Call')">
                    <tab-heading tooltip="Followup Call">
                        <i class="fa fa-phone-square" style="font-size: 30px; color:chocolate"></i>
                    </tab-heading>
                </tab>
                <tab ng-click="vm.tabs('Followup Email')">
                    <tab-heading tooltip="Followup Email">
                        <i class="fa fa-envelope" style="font-size: 30px; color:chocolate"></i>
                    </tab-heading>
                </tab>
                <tab ng-click="vm.tabs('Meeting')">
                    <tab-heading tooltip="Meeting">
                        <i class="fa fa-users" style="font-size: 30px; color:chocolate"></i>
                    </tab-heading>
                </tab>
                <tab ng-click="vm.tabs('Research')">
                    <tab-heading tooltip="Research">
                        <i class="fa fa-book" style="font-size: 30px; color:chocolate"></i>
                    </tab-heading>
                </tab>
                <tab ng-click="vm.tabs('Schedule')">
                    <tab-heading tooltip="Schedule">
                        <i class="fa fa-plus-circle" style=" font-size:30px; color:chocolate"></i>
                    </tab-heading>
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase font-red-sunglo"></span>
                                @*<span class="caption-helper">Details...</span>*@
                            </div>
                            <div class="actions">

                                <button class="btn btn-primary blue" ng-click="vm.openScheduleModal()"><i class="fa fa-plus"></i> @L("CreateNewSchedule")</button>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="portlet-title">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getleadSchedules()" ng-keyup="vm.getleadSchedules()">
                                                <span class="input-group-btn">
                                                    <button ng-click="vm.getleadSchedules()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div busy-if="vm.loading">
                                <div ui-grid="vm.leadScheduleGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-click="vm.tabs('Comments')">
                    <tab-heading tooltip="Comments">
                        <i class="fa fa-commenting-o" style=" font-size:30px; color:chocolate"></i>
                    </tab-heading>
                </tab>
            </tabset>
            <div ng-hide="vm.tabid==6">
                <div class="scroller" style="height: 353px;" data-always-visible="1" data-rail-visible1="1">
                    <ul class="chats">
                        <div ng-repeat="activity in vm.activity">
                            <li ng-if="activity.loginUser" class="in">
                                <img class="avatar" alt="" src="{{activity.userId}}" />
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                        {{activity.name}}
                                    </a>
                                    <span class="datetime">
                                        at {{activity.activateTime}}<br />{{activity.title}} by {{activity.name}}
                                    </span>
                                    <span class="body">
                                        {{activity.notes}}
                                    </span>
                                </div>
                            </li>

                            <li ng-if="activity.loginUser==false" class="out">
                                <img class="avatar" alt="" src="{{activity.userId}}" " />
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                        {{activity.name}}
                                    </a>
                                    <span class="datetime">
                                        at {{activity.activateTime}}<br />{{activity.title}} by {{activity.name}}
                                    </span>
                                    <span class="body">
                                        {{activity.notes}}
                                    </span>
                                </div>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
            <div class="chat-form" ng-if="vm.tabid!=6">
                <div class="input-cont">
                    <input class="form-control" type="text" ng-model="vm.activitycreate.notes" placeholder="Type a message here..." />
                </div>
                <div class="btn-cont" ng-click="vm.saveInmail()">
                    <span class="arrow">
                    </span>
                    <a href="" class="btn blue icn-only">
                        <i class="fa fa-check icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>









