﻿<div ng-controller="tenant.views.LeadManagement.leaddetails as vm">
    <div class="portlet light">
        <form name="CompanyCreateOrEditForm" role="form" novalidate class="form-validation">
            <div class="modal-header">
                <uib-tabset class="tab-container tabbable-line">
                    <uib-tab active="vm.propec" ng-click="vm.updateStatus(3)">
                        <tab-heading>
                            <div class="row" style="text-align:center">
                                <i class="fa fa-list" style="font-size: 35px; text-align: center; color: #E04545"></i>
                            </div>
                            <div class="row" style="text-align:center">
                                PROSPECT
                            </div>
                        </tab-heading>
                    </uib-tab>
                    <div class="col-md-1"></div>
                    <uib-tab active="vm.nego" ng-click="vm.updateStatus(4)">

                        <tab-heading style="text-align:center">
                            <div class="row" style="text-align:center">
                                <i class="fa fa-users" style="font-size: 35px; text-align: center; color: #E04545"></i>
                            </div>
                            <div class="row" style="text-align:center">
                                NEGOTIATION<b class="badge badge-primary"></b>
                            </div>
                        </tab-heading>
                    </uib-tab>
                    <div class="col-md-1"></div>
                    <uib-tab active="vm.won" ng-click="vm.updateStatus(5)">

                        <tab-heading style="text-align:center">
                            <div class="row" style="text-align:center">
                                <i class="fa fa-thumbs-up" style="font-size: 35px; text-align: center; color: #E04545"></i>
                            </div>
                            <div class="row" style="text-align:center">

                                WON<b class="badge badge-primary"></b>
                            </div>
                        </tab-heading>
                    </uib-tab>
                    <div class="col-md-1"></div>
                    <uib-tab active="vm.lost" ng-click="vm.updateStatus(6)">

                        <tab-heading style="text-align:center">
                            <div class="row" style="text-align:center">
                                <i class="fa fa-thumbs-down" style="font-size: 35px; text-align: center; color: #E04545"></i>
                            </div>
                            <div class="row" style="text-align:center">

                                LOST<b class="badge badge-primary"></b>
                            </div>
                        </tab-heading>
                    </uib-tab>
                    <div class="col-md-1"></div>
                    <uib-tab active="vm.junk" ng-click="vm.updateStatus(7)">

                        <tab-heading style="text-align:center">
                            <div class="row" style="text-align:center">
                                <i class="fa fa-lock" style="font-size: 35px; text-align: center; color: #E04545"></i>
                            </div>
                            <div class="row" style="text-align:center">

                                JUNK<b class="badge badge-primary"></b>
                            </div>
                        </tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab>
                    <tab-heading>
                        <i class="fa fa-star-half-o" style="color: deepskyblue; font-size: 20px; "></i>
                        Company Details <b class="badge badge-primary"></b>
                    </tab-heading>

                    <div class="modal-body">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="title" ng-class="{'edited':vm.Company.title}" ng-model="vm.Company.title" ng-disabled="true">
                            <label>@L("CompanyName")</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.Company.fax}" ng-model="vm.Company.fax" ng-disabled="true">
                                    <label>@L("Fax")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.Company.phoneNo}" ng-model="vm.Company.phoneNo" ng-disabled="true">
                                    <label>@L("PhoneNo")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.regionName }" ng-model="vm.regionName " ng-disabled="true">
                                    <label>@L("Region")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.leadsouce }" ng-model="vm.leadsouce " ng-disabled="true">
                                    <label>@L("LeadSource")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.status }" ng-model="vm.status " ng-disabled="true">
                                    <label>@L("Status")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.contributed }" ng-model="vm.contributed " ng-disabled="true">
                                    <label>@L("ContributedName")</label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.Company.emailId}" ng-model="vm.Company.emailId">
                                    <label>@L("EmailId")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" ng-class="{'edited':vm.Company.webSite}" ng-model="vm.Company.webSite">
                                    <label>@L("WebSite")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-6">
                                <label class="labe">@L("Address")</label>
                                <textarea ng-model="vm.Company.address" stylle="display:block" rows="4" style="width:100%"></textarea>
                            </div>
                            <div class=" col-md-6">
                                <label class="labe">@L("Description")</label>
                                <textarea ng-model="vm.Company.description" stylle="display:block" rows="4" style="width:100%"></textarea>
                            </div>
                        </div>

                    </div>

                </uib-tab>
                <uib-tab>
                    <tab-heading>
                        <i class="fa fa-phone-square" style="color: deepskyblue; font-size: 20px; "></i>
                        Contact Details <b class="badge badge-primary"></b>
                    </tab-heading>
                    <div class="portlet light">

                        <div class="portlet-body">

                            <div id="AllCountryList" class="list-group">
                                <div id="AllCountryList" class="list-group">
                                    <div class="list-group-item" ng-repeat="contact in vm.contactdata">
                                        <div class="row">
                                            <div class="col-md-11">


                                                <div class="col-md-1">
                                                    <img src="@Url.Content("~/common/images/default.jpg")" style="height:70px;width:65px" class="img-rounded" />
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="col-md-1"></div>
                                                    <h3 class="list-group-item-heading" style="color:blue">
                                                        {{contact.firstName}}   {{contact.lastName}}<br />
                                                    </h3>
                                                    <div class="col-md-1"></div>
                                                    <h4 class="list-group-item-heading" style="color:green">
                                                        Phone : {{contact.fax}}<br />
                                                    </h4>
                                                    <div class="col-md-1"></div>

                                                    <h5 class="list-group-item-heading" style="color:green">
                                                        Mail : {{contact.emailId}}<br />
                                                    </h5>

                                                </div>



                                            </div>

                                            <div class="col-md-1">
                                                <span class="person-buttons">
                                                    <br />
                                                    <button ng-click="vm.openContactModal(contact)" title="@L("Edit")" class="btn btn-circle btn-icon-only green">
                                                        <i class="fa fa-search"></i>
                                                    </button>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab ng-if="vm.orderstatusId>2">
                    <tab-heading>
                        <i class="fa fa-cart-arrow-down" style="color: deepskyblue; font-size: 20px"></i>
                        Order Details <b class="badge badge-primary"></b>
                    </tab-heading>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.lead.expAmount }" ng-model="vm.lead.expAmount">
                                <label>@L("EstimatedAmount")</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="inputs inputs-full-width">
                                <label>@L("EstimatedDate")</label>

                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dates.date2" is-open="vm.open.date2" enable-time="false" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn default" ng-click="vm.openCalendar($event, 'date2')"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.lead.actualAmount }" ng-model="vm.lead.actualAmount" ng-disabled="true">
                                <label>@L("ActualAmount")</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.lead.actualDate }" ng-model="vm.lead.actualDate" ng-disabled="true">
                                <label>@L("ActualDate")</label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.lead.orderNo }" ng-model="vm.lead.orderNo" ng-disabled="true">
                                <label>@L("OrderNo")</label>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        @*<button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>*@
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.saveEstimation()" ng-disabled="CompanyCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>



                </uib-tab>
                <uib-tab ng-if="vm.orderstatusId==6">
                    <tab-heading>
                        <i class="fa fa-exclamation" style="color: deepskyblue; font-size: 20px"></i>
                        Competitor <b class="badge badge-primary"></b>
                    </tab-heading>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">

                                <ui-select ng-model="competitor.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="width: 450px;max-width:100%"
                                           title="Choose a Region">
                                    <ui-select-match placeholder="Enter a Competitor..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.competitorName}}</ui-select-match>
                                    <ui-select-choices repeat="competitor in vm.competitor | propsFilter: {competitorName: $select.search}">
                                        <div ng-bind-html="competitor.competitorName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>*@
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.saveCompetitor()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>

                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                @*<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="CompanyCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>*@
            </div>
        </form>
    </div>
</div>



<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

    .modal-dialog {
        width: 75% !important;
    }

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block !important; /* undo display:none          */
        height: 0 !important; /* height:0 is also invisible */
        overflow-y: hidden !important; /* no-overflow                */
    }

    .tab-content > .active,
    .pill-content > .active {
        height: auto !important; /* let the content decide it  */
    }

    .watermark {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 3em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block !important; /* undo display:none          */
        height: 0 !important; /* height:0 is also invisible */
        overflow-y: hidden !important; /* no-overflow                */
    }

    .tab-content > .active,
    .pill-content > .active {
        height: auto !important; /* let the content decide it  */
    }

    .watermark {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 3em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
