﻿<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <form name="userCreateOrEditForm" role="form" novalidate class="form-validation">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span> {{vm.contact.firstName}}  {{vm.contact.lastName}}</span>
                            
                        </h4>
                    </div>
                    <div class="modal-body">
                       
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <img ng-if="vm.contact.profilePictuePath" ng-src="{{vm.contact.profilePictuePath}}" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                        <img ng-if="!vmc.ontact.profilePictuePath" src="@Url.Content("~/common/images/default.jpg")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.contact.firstName}" ng-model="vm.contact.firstName" ng-disabled="true">
                                            <label>@L("Name")</label>
                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input type="text" name="Surname" class="form-control" ng-class="{'edited':vm.contact.lastName}" ng-model="vm.contact.lastName" ng-disabled="true">
                                            <label>@L("Surname")</label>
                                        </div>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input type="email" name="EmailAddress" class="form-control" ng-class="{'edited':vm.contact.emailId}" ng-model="vm.contact.emailId" ng-disabled="true">
                                    <label>@L("EmailAddress")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text"  ng-class="{'edited':vm.contact.poBox}" name="UserName" class="form-control" ng-model="vm.contact.poBox" ng-disabled="true">
                                    <label>@L("POBox")</label>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input type="email" name="EmailAddress" class="form-control" ng-class="{'edited':vm.contact.address}" ng-model="vm.contact.address" ng-disabled="true">
                                    <label>@L("Address")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" ng-class="{'edited':vm.contact.notes}" name="UserName" class="form-control" ng-model="vm.contact.notes" ng-disabled="true">
                                    <label>@L("Notes")</label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input type="email" name="EmailAddress" class="form-control" ng-class="{'edited':vm.contact.fax}" ng-model="vm.contact.fax" ng-disabled="true">
                                    <label>@L("Fax")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" ng-class="{'edited':vm.regionName}" name="UserName" class="form-control" ng-model="vm.regionName" ng-disabled="true">
                                    <label>@L("Region")</label>

                                </div>
                            </div>
                        </div>

                                

                                

                               
                                
                    </div>
                    <div class="modal-footer">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
