﻿@using Abp.Timing

<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="tenant.views.LeadManagement.leaddetails as vm">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">

                    <img src="@Url.Content("~/common/images/company.png")" class="img-responsive" />
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{vm.Company.title}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{vm.regionName}}
                    </div>
                </div>

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active:$state.includes('leaddetails.information')}">
                            <a ui-sref="leaddetails.information">
                                <i class="icon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('leaddetails.activities')}">
                            <a ui-sref="leaddetails.activities">
                                <i class="icon-settings"></i>
                                Activities
                            </a>
                        </li>
                        @*<li ng-class="{active: $state.includes('leaddetails.createschedule')}">
                            <a ui-sref="leaddetails.createschedule">
                            </a>
                        </li>*@


                    </ul>
                </div>
                <!-- END MENU -->
            </div>

        </div>

        <div ui-view class="profile-content fade-in-up">
        </div>

    </div>
</div>
