﻿<div>
    <form name="CompanyCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.Contact.id" style="color:green; font-size:medium; font:bold;font-weight:600">@L("EditContact"): {{vm.Contact.title}}</span>
                <span ng-if="!vm.Contact.id">@L("CreateNewContact")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.companyName}" ng-model="vm.companyName" disabled="disabled">
                        <label>@L("CompanyName")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.titleOfCourtey}" ng-model="vm.Contact.titleOfCourtey">
                        <label>@L("TitleOfCourtesy")</label>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.firstName}" ng-model="vm.Contact.firstName" ng-required="true">
                        <label>@L("FirstName")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.lastName}" ng-model="vm.Contact.lastName">
                        <label>@L("LastName")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.fax}" ng-model="vm.Contact.fax">
                        <label>@L("Fax")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.phoneNo}" ng-model="vm.Contact.phoneNo">
                        <label>@L("PhoneNo")</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        @*<label class="cla">@L("Region")</label>*@
                        @*<div class="claa">*@
                        <ui-select ng-model="region.selected"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   style="width: 450px;max-width:100%"
                                   title="Choose a Region" ng-required="true">
                            <ui-select-match placeholder="Enter a Region..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.regionName}}</ui-select-match>
                            <ui-select-choices repeat="region in vm.region | propsFilter: {regionName: $select.search}">
                                <div ng-bind-html="region.regionName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        @*</div>*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.pOBox}" ng-model="vm.Contact.pOBox">
                        <label>@L("POBox")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.emailId}" ng-model="vm.Contact.emailId" ng-required="true">
                        <label>@L("EmailId")</label>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" ng-class="{'edited':vm.Contact.notes}" ng-model="vm.Contact.notes">
                        <label>@L("Notes")</label>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class=" col-md-6">
                    <label class="labe">@L("Address")</label>
                    <textarea ng-model="vm.Contact.address" stylle="display:block" rows="4" style="width:100%"></textarea>
                </div>
                <div class=" col-md-6">
                    <label class="labe">@L("Description")</label>
                    <textarea ng-model="vm.Contact.description" stylle="display:block" rows="4" style="width:100%"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="file" nv-file-select uploader="vm.uploader" />
                <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="CompanyCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>
