﻿<div>
    <form name="CompanyCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.Company.id" style="color:green; font-size:medium; font:bold;font-weight:600">@L("EditCompany"): {{vm.Company.title}}</span>
                <span ng-if="!vm.Company.id">@L("CreateNewCompany")</span>
            </h4>
        </div>
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="CompanyDetails">

                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="title" ng-class="{'edited':vm.Company.title}" ng-model="vm.Company.title" required>
                        <label>@L("CompanyName")</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.Company.fax}" ng-model="vm.Company.fax">
                                <label>@L("Fax")</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.Company.phoneNo}" ng-model="vm.Company.phoneNo">
                                <label>@L("PhoneNo")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label class="cla">@L("Region")</label>
                                @*<div class="claa">*@
                                <ui-select ng-model="region.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="width: 450px;max-width:100%"
                                           title="Choose a Region" ng-required="true">
                                    <ui-select-match placeholder="Enter a Region..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.regionName}}</ui-select-match>
                                    <ui-select-choices repeat="region in vm.region | propsFilter: {regionName: $select.search}">
                                        <div ng-bind-html="region.regionName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                @*</div>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label class="cla">@L("LeadSource")</label>

                                <ui-select ng-model="leadsource.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="width: 450px;max-width:100%"
                                           title="Choose a LeadSource" ng-required="true">
                                    <ui-select-match placeholder="Enter a LeadSource..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.leadSourceName}}</ui-select-match>
                                    <ui-select-choices repeat="LeadSource in vm.LeadSource | propsFilter: {leadSourceName: $select.search}">
                                        <div ng-bind-html="LeadSource.leadSourceName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label class="cla">@L("Status")</label>

                                <ui-select ng-model="status.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="width: 450px;max-width:100%"
                                           title="Choose a Status" ng-required="true">
                                    <ui-select-match placeholder="Enter a Status..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.statusName}}</ui-select-match>
                                    <ui-select-choices repeat="Status in vm.Status | propsFilter: {statusName: $select.search}">
                                        <div ng-bind-html="Status.statusName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label class="cla">@L("ContributedName")</label>

                                <ui-select ng-model="contributedName.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="width: 450px;max-width:100%"
                                           title="Choose a ContributedName" ng-required="true">
                                    <ui-select-match placeholder="Enter a ContributedName..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.userName}}</ui-select-match>
                                    <ui-select-choices repeat="ContributedName in vm.ContributedName | propsFilter: {userName: $select.search}">
                                        <div ng-bind-html="ContributedName.userName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.Company.emailId}" ng-model="vm.Company.emailId">
                                <label>@L("EmailId")</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" ng-class="{'edited':vm.Company.webSite}" ng-model="vm.Company.webSite">
                                <label>@L("WebSite")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <label class="labe">@L("Address")</label>
                            <textarea ng-model="vm.Company.address" stylle="display:block" rows="4" style="width:100%" required></textarea>
                        </div>
                        <div class=" col-md-6">
                            <label class="labe">@L("Description")</label>
                            <textarea ng-model="vm.Company.description" stylle="display:block" rows="4" style="width:100%"></textarea>
                        </div>
                    </div>

                </div>
               
            </uib-tab>
            <uib-tab>
                <tab-heading>
                    Contact
                </tab-heading>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.openCreateContactModal()">
                                <i class="fa fa-plus-circle font-green fa-4x"></i>
                            </a>

                        </div>
                        </div>
                        <div class="portlet-body">
                            <div busy-if="vm.loading">
                                <div ui-grid="vm.ContactGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
            </uib-tab>
        </uib-tabset>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="CompanyCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
            </div>



<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
    .modal-dialog {
        width: 75% !important;
    }

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }
    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block !important; /* undo display:none          */
        height: 0 !important; /* height:0 is also invisible */
        overflow-y: hidden !important; /* no-overflow                */
    }

    .tab-content > .active,
    .pill-content > .active {
        height: auto !important; /* let the content decide it  */
    }

    .watermark {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 3em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block !important; /* undo display:none          */
        height: 0 !important; /* height:0 is also invisible */
        overflow-y: hidden !important; /* no-overflow                */
    }

    .tab-content > .active,
    .pill-content > .active {
        height: auto !important; /* let the content decide it  */
    }

    .watermark {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 3em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
