﻿@using TIBS.SAFCO.Web.Areas.Mpa.Models.Common.Modals
@model TIBS.SAFCO.Web.Areas.Mpa.Models.Users.UserPermissionsEditViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Permissions") + " - " + Model.User.UserName))

<div class="modal-body">
    @Html.Partial("~/Areas/Mpa/Views/Common/_PermissionTree.cshtml", Model)
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left reset-permissions-button" data-toggle="tooltip" title="@L("ResetPermissionsTooltip")" data-placement="top"><span>@L("ResetSpecialPermissions")</span></button>
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>

