﻿<div ng-controller="tenant.views.ActivityOverView.index as vm">
    <div class="row">
        <div class="col-md-8">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-microphone font-green"></i>
                        <span class="caption-subject bold font-green uppercase">
                            Activities
                        </span>
                        <span class="caption-helper">Lead Activities</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="timeline">
                        <!-- TIMELINE ITEM -->
                        <div class="timeline-item">
                            <div id="timelineeleement">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-if="vm.enabled">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Active Employees
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">

                            <tbody>
                                <tr ng-repeat="activeempolyee in vm.activeempolyee">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <img ng-if="activeempolyee.photoPath" src="{{activeempolyee.photoPath}}" style="height:40px;width:40px" class="img-rounded" />
                                        <img ng-if="!activeempolyee.photoPath" src="/Common/Images/default.jpg" style="height:40px;width:40px" class="img-rounded" />
                                    </td>

                                    <td>
                                        <span class="label label-sm label-success">
                                            {{activeempolyee.postedbyEmployee}}
                                        </span>


                                        <br />
                                        <small>{{activeempolyee.timeago}}</small>
                                    </td>
                                    @*<td>
                                            {{activeempolyee.timeago}}
                                        </td>*@
                                    @*<td>
                                            makr124
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">
                                                Approved
                                            </span>
                                        </td>*@
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>


        <div class="col-md-4">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-ban"></i>Companies that are less Active
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">

                            <tbody>
                                <tr ng-repeat="lessactivecomapnies in vm.lessactivecomapnies">
                                    <td>
                                        <img ng-if="lessactivecomapnies.photoPath" src="{{lessactivecomapnies.photoPath}}" style="height:40px;width:40px" class="img-rounded" />
                                        <img ng-if="!lessactivecomapnies.photoPath" src="/Common/Images/default.jpg" style="height:40px;width:40px" class="img-rounded" />
                                    </td>

                                    <td>
                                        <span class="label label-sm label-success">
                                            {{lessactivecomapnies.title}}
                                        </span>


                                        <br />
                                        <small>{{lessactivecomapnies.timeago}}</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

<style>
    .chats li .datetime {
        color: tomato !important;
    }
</style>
