<div ng-controller="common.views.roles.index  as vm">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-red-sunglo">@L("Roles")</span>
                    @*<span class="caption-helper">Details...</span>*@
                </div>
                <div class="actions">
                    <a g-if="vm.permissions.create" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.createRole()" href="#" data-original-title="" title="Create New Role">
                        <i class="fa fa-plus font-blue"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen font-red" href="#" data-original-title="" title="">
                    </a>
                </div>
                <div class="clearfix">
                </div>
                <div class="portlet light">
                    <div class="portlet-body">
                        <div busy-if="vm.loading">
                            <div ui-grid="vm.roleGridOptions" ui-grid-resize-columns ui-grid-auto-resize></div>
                        </div>
                    </div>
                </div>
            </div>
