
@using TIBS.SAFCO;
<div>
    <form name="cityCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if=" vm.product.id">Edit product: {{ vm.product.productName}}</span>
                <span ng-if="! vm.product.id">Create New Product</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="productCode" class="form-control" ng-class="{'edited': vm.product.productName}" ng-model=" vm.product.productName" required maxlength="@GetLength.MaxNamegLength">
                <label>Product Name</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="productName" ng-class="{'edited': vm.product.description}" ng-model=" vm.product.description">
                <label>Description</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="productCode" class="form-control" ng-class="{'edited': vm.product.minimumSalePrice}" ng-model=" vm.product.minimumSalePrice">
                <label>Mininum Price</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="productName" ng-class="{'edited': vm.product.maximumSalePrice}" ng-model=" vm.product.maximumSalePrice">
                <label>Maxium Price</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label class="cla">Product Classification</label>
                <div class="claa">
                    <ui-select ng-model="productClassification.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="width: 450px;"
                               title="Choose a product Type" ng-required="true">
                        <ui-select-match placeholder="Enter a product Type..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.productClassificationName}}</ui-select-match>
                        <ui-select-choices repeat="productClassification in  vm.productClassification | propsFilter: {productClassificationName: $select.search}">
                            <div ng-bind-html="productClassification.productClassificationName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="cityCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
</style>