<div ng-controller="tenant.views.dashboard.index as vm">
    <carousel3d ng-model="vm.slides" ng-if="vm.slides!=null"
                options="vm.options"
                on-selected-click="vm.selectedClick(index)"
                on-slide-change="vm.slideChanged(index)"
                on-last-slide="vm.lastSlide(index)"
                on-before-change="vm.beforeChange(index)">
    </carousel3d>

    <div class="form-group" ng-hide="vm.slides==null">
        <label class="control-label col-md-2" style="margin-left: -16px;font-weight: 600;color: darkblue;">Company Performance</label>
        <div class="col-md-9">
            <input type="checkbox" name="my-checkbox" class="make-switch switch-large" data-label-icon="fa fa-youtube" data-on-color="success" data-off-color="danger" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-close'></i>">
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h4 style="font-size: 18px;font-weight: 600;color: #D13028;">New Customers</h4>
                    <div id="container"></div>
                </div>
                <div class="col-md-4">
                    <h4 style="font-size: 18px;font-weight: 600;color: #D13028;">In Negotiation</h4>
                    <div id="Negozation"></div>
                </div>
                <div class="col-md-4">
                    <h4 style="font-size: 18px;font-weight: 600;color: #D13028;">Prospect</h4>
                    <div id="Prospect"></div>
                </div>
            </div>
        </div>
    </div><br />

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-green-haze hide"></i>
                                <span class="caption-subject font-green-haze bold uppercase">Monthly Order Amount</span>
                                <span class="caption-helper hide">weekly stats...</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-if="chart1.options.chart.type =='column'" href="#" data-original-title="" title="Pie" tooltip="Pie Chart" ng-click="type3()">
                                    <i class="fa fa-pie-chart"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-if="chart1.options.chart.type =='pie'"  href="#" data-original-title="" title="Bar" tooltip="Bar Chart" ng-click="type33()">
                                    <i class="fa fa-bar-chart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="border: 1px solid #ccc;margin-bottom: 10px;">
                                <highchart id="chart1" series="chart1.series" title={{chart1.title.text}} options="chart1.options" config="chart1"></highchart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-green-haze hide"></i>
                                <span class="caption-subject font-green-haze bold uppercase">Present Month Leads</span>
                                <span class="caption-helper hide">weekly stats...</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="border: 1px solid #ccc;margin-bottom: 10px;">
                                <highchart id="chart2" series="chart2.series" title={{chart2.title.text}} options="chart2.options" config="chart2"></highchart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-green-haze hide"></i>
                                <span class="caption-subject font-green-haze bold uppercase">Monthly Leads</span>
                                <span class="caption-helper hide">weekly stats...</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" ng-if="chart4.options.plotOptions.column.stacking == 'normal'" title="Percent" tooltip="Percent" ng-click="type4()">
                                    <i class="fa fa-battery-full"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" ng-if="chart4.options.plotOptions.column.stacking == 'percent'" title="Normal" tooltip="Normal" ng-click="type44()">
                                    <i class="fa fa-battery-half"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="border: 1px solid #ccc;margin-bottom: 10px;">
                                <highchart id="chart4" series="chart4.series" title="{{chart4.title.text}}" options="chart4.options" config="chart4"></highchart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-green-haze hide"></i>
                                <span class="caption-subject font-green-haze bold uppercase">Last Six Month Leads</span>
                                <span class="caption-helper hide">weekly stats...</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="border: 1px solid #ccc;margin-bottom: 10px;">
                                <highchart id="chart3" series="chart3.series" title="{{chart3.title.text}}" options="chart3.options" config="chart3"></highchart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .imgStyle {
        width: 50%;
        height: 100%;
        float: left;
    }

    .divstyle {
        width: 50%;
        height: 100%;
        float: right;
        background-color: #44413E;
        text-align: center;
        color: #EF3F3F;
        line-height: 23px;
    }

    .ribbon {
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
        text-align: right;
    }

        .ribbon span {
            font-size: 10px;
            font-weight: bold;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;
            transform: rotate(45deg);
            width: 100px;
            display: block;
            background: #F3565D;
            background: linear-gradient(#F3565D 0%, #F3565D 100%);
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px;
            right: -21px;
        }

            .ribbon span::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid #EF3F3F;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #EF3F3F;
            }

            .ribbon span::after {
                content: "";
                position: absolute;
                right: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid #EF3F3F;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #EF3F3F;
            }
</style>

