﻿@using TIBS.SAFCO
<div ng-controller="tenant.views.Approval.SaleApproval.EditApproval as vm">
    <div class="portlet-body">
        <form name="createPersonForm" role="form" novalidate class="form-validation">
            <div class="portlet-title">
                
            </div>
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="leadCode" class="form-control" ng-class="{'edited':vm.companyName}" ng-model="vm.companyName" ng-disabled="true">
                            <label>@L("CompanyName")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="leadName" ng-class="{'edited':vm.lead.orderNo}" ng-model="vm.lead.orderNo">
                            <label>@L("OrderNo")</label>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputs inputs-full-width">
                            <label>@L("ActualDate")</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dates.date1" is-open="vm.open.date1" enable-time="false" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn default" ng-click="vm.openCalendar($event, 'date1')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="leadName" ng-class="{'edited':vm.lead.actualAmount}" ng-model="vm.lead.actualAmount">
                            <label>@L("ActualAmount")</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                             <label class="cla">@L("SalesSupport")</label>
                            @*<div class="claa">*@
                            <ui-select ng-model="salesSupport.selected"
                                       theme="bootstrap"
                                       ng-disabled="disabled"
                                       reset-search-input="false"
                                       style="width: 450px;max-width:100%"
                                       title="Choose a SalesSupport">
                                <ui-select-match placeholder="Enter a Sales Support..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.employeeName}}</ui-select-match>
                                <ui-select-choices repeat="salesSupport in vm.salesSupport | propsFilter: {employeeName: $select.search}">
                                    <div ng-bind-html="salesSupport.employeeName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <label class="cla">@L("SalesEmployee")</label>
                            @*<div class="claa">*@
                            <ui-select ng-model="salesEmployee.selected"
                                       theme="bootstrap"
                                       ng-disabled="disabled"
                                       reset-search-input="false"
                                       style="width: 450px;max-width:100%"
                                       title="Choose a SalesEmployee">
                                <ui-select-match placeholder="Enter a Sales Employee..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.employeeName}}</ui-select-match>
                                <ui-select-choices repeat="salesEmployee in vm.salesEmployee | propsFilter: {employeeName: $select.search}">
                                    <div ng-bind-html="salesEmployee.employeeName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            @*</div>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>

            </div>
        </form>
    </div>
</div>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

   

   
</style>
