﻿@using Abp.Timing

<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="tenant.views.Employee.EmployeeDetails as vm">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img ng-if="vm.employee.photoPath" id="EmployeeProfile" src="{{vm.employee.photoPath}}" class="img-responsive" />
                    <img ng-if="!vm.employee.photoPath" src="@Url.Content("~/common/images/default.jpg")" class="img-responsive" />
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{vm.employee.firstName}} {{vm.employee.lastName}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{vm.desiginationName}}
                    </div>
                </div>
               
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active:$state.includes('Employeedetails.information')}">
                            <a ui-sref="Employeedetails.information">
                                <i class="icon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('Employeedetails.account')}" ng-if="vm.permissions.employeeedit">
                            <a ui-sref="Employeedetails.account">
                                <i class="icon-settings"></i>
                                Account Settings
                            </a>
                        </li>
                        

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
           
        </div>
       
        <div ui-view class="profile-content fade-in-up">
        </div>
       
    </div>
</div>
