﻿@using TIBS.SAFCO
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.ProductClassification.id">@L("EditProductClassification"): {{vm.ProductClassification.ProductClassificationName}}</span>
                <span ng-if="!vm.ProductClassification.id">@L("CreateNewCreateNewProductClassification")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="ProductClassificationCode" class="form-control" ng-class="{'edited':vm.ProductClassification.productClassificationCode}" ng-model="vm.ProductClassification.productClassificationCode">
                <label>@L("ProductClassificationCode")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="ProductClassificationName" ng-class="{'edited':vm.ProductClassification.productClassificationName}" ng-model="vm.ProductClassification.productClassificationName">
                <label>@L("ProductClassificationName")</label>
            </div>
            

           
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>