﻿ <div ng-controller="tenant.views.Product.ProductClassification.index as vm">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-red-sunglo">@L("ProductClassification")</span>
                            @*<span class="caption-helper">Details...</span>*@
                        </div>
                        <div class="actions">
                            <a ng-if="vm.permissions.createProductClassification" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateProductClassificationModal()" href="#" data-original-title="" title="Create New Product Classification">
                                <i class="fa fa-plus font-blue"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                                <i class="fa fa-file-excel-o font-green-dark"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen font-red" href="#" data-original-title="" title="">
                            </a>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="portlet-title">
                            <h4>All ProductClassification ({{vm.ProductClassification.length}})</h4>
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getProductClassification()" ng-keyup="vm.getProductClassification()">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="submit" ng-click=" vm.getProductClassification()"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div id="AllProductClassificationList" class="list-group">
                            <div class="list-group-item" ng-repeat="ProductClassification in vm.ProductClassification">
                                <h4 class="list-group-item-heading">
                                    {{ProductClassification.productClassificationCode}}
                                    <span class="person-buttons">
                                        <button ng-if="vm.permissions.editProductClassification" ng-click="vm.openEditProductClassificationModal(ProductClassification)" title="@L("Edit")" class="btn btn-circle btn-icon-only green">
                                            <i class="icon-pencil"></i>
                                        </button>
                                        <button ng-if="vm.permissions.deleteProductClassification" ng-click="vm.deleteProductClassification(ProductClassification)" title="@L("Delete")" class="btn btn-circle btn-icon-only red">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </span>
                                </h4>
                                <p class="list-group-item-text">
                                    {{ProductClassification.productClassificationName}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <style type="text/css">
                .person-buttons {
                    float: right;
                }
            </style>
