@using Abp.Timing
<div class="page-header-inner">
    <div class="page-logo">
        <label class="logo-default" style="font-size: 23px;color: white;font-family: -webkit-body;">iLead v2.0</label>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <div class="page-top">
        <a href="#" target="_blank" style="width: 29%;display: inline-block;text-align: center;">
            <img src="~/Images1/Login/logo.png" alt="logo" class="logo-default" height="80" style="margin-top: -8px;" />
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li style="max-width:100%">
                    <label style=" margin-left: 15px;" ng-if="vm.roles=='Admin' || vm.roles=='Management' || vm.roles=='Sales Team' || vm.roles=='Audit/Reporting' ">
                        Yearly  {{vm.yearTarget[0].totalAcheviedDisplayName}} / {{vm.yearTarget[0].yearTargetDisplayName}}
                    </label>
                    <div class="col-md-12"><progressbar class="progress-striped active" max=vm.yearTarget[0].totalTarget value=vm.yearTarget[0].totalAchived type={{vm.targetcolor1}} style="height: 20px; border-radius: 10px !important;margin-top: 5px;"><i>{{vm.yearTarget[0].percentage}} %</i></progressbar></div>
                </li>
                <li style="max-width:100%" ng-if="vm.roles=='Admin' || vm.roles=='Management' || vm.roles=='Sales Team' || vm.roles=='Audit/Reporting' ">
                    <label style="margin-left: 15px;">Monthly {{vm.monthTarget[0].totalAcheviedDisplayName}} / {{vm.monthTarget[0].yearTargetDisplayName}}</label>
                    <div class="col-md-12"><progressbar class="progress-striped active" max=vm.monthTarget[0].totalTarget value=vm.monthTarget[0].totalAchived type={{vm.targetcolor}} style="height: 20px; border-radius: 10px !important;margin-top: 5px;"><i>{{vm.monthTarget[0].percentage}} %</i></progressbar></div>
                </li>
                <li class="dropdown dropdown-language" ng-if="vm.languages.length > 1">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i ng-class="vm.currentLanguage.icon"></i>
                        <span class="langname">
                            {{vm.currentLanguage.displayName}}
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="language in vm.languages" ng-if="vm.currentLanguage.name !== language.name">
                            <a ng-click="vm.changeLanguage(language.name)" href="#">
                                <i ng-class="language.icon"></i> {{language.displayName}}
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile">
                            {{vm.getShownUserName()}}
                        </span>
                        <div class="roundthumb">
                            <img id="HeaderProfilePicture" alt="" class="roundthumb" src="@Url.Action("GetProfilePicture", "Profile")?t=@Clock.Now.Ticks.ToString()" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="" ng-click="vm.editMySettings()"><i class="icon-settings"></i> @L("MySettings")</a>
                        </li>
                        <li>
                            <a href="" ng-click="vm.changePicture()"><i class="icon-user"></i> @L("ChangeProfilePicture")</a>
                        </li>
                        <li>
                            <a href="" ng-click="vm.changePassword()"><i class="icon-key"></i> @L("ChangePassword")</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Account")"><i class="icon-logout"></i> @L("Logout")</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .roundthumb {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        margin-top: -5px;
    }
</style>

