@*<div class="page-sidebar navbar-collapse collapse">
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}" ng-if="vm.menu.items.length">
            <!-- Menu Level 1 -->
            <li ng-repeat="menuItem in vm.menu.items"  ng-class="{'start':$first}" class="nav-item">
                <a ui-sref="{{menuItem.url}}" ng-if="!menuItem.items.length">
                    <i class="{{menuItem.icon}}"></i>
                    <span class="title">{{menuItem.displayName}}</span>
                </a>
                <a href="javascript:;" class="nav-link nav-toggle" ng-if="menuItem.items.length">
                    <i class="{{menuItem.icon}}"></i>
                    <span class="title">{{menuItem.displayName}}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu" ng-if="menuItem.items.length">
                    <!-- Menu Level 2 -->
                    <li ng-repeat="childMenuItem in menuItem.items" ng-class="{'start':$first}" class="nav-item">
                        <a ui-sref="{{childMenuItem.url}}" ng-if="!childMenuItem.items.length">
                            <i class="{{childMenuItem.icon}}"></i>
                            <span class="title">{{childMenuItem.displayName}}</span>
                        </a>
                        <a href="javascript:;" class="nav-link nav-toggle" ng-if="childMenuItem.items.length">
                            <i class="{{childMenuItem.icon}}"></i>
                            <span class="title">{{childMenuItem.displayName}}</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" ng-if="childMenuItem.items.length">
                            <!-- Menu Level 3 -->
                            <li ng-repeat="childOfChildMenuItem in childMenuItem.items" ui-sref-active="active" ng-class="{'start':$first}">
                                <a ui-sref="{{childOfChildMenuItem.url}}" ng-if="!childOfChildMenuItem.items.length">
                                    <i class="{{childOfChildMenuItem.icon}}"></i>
                                    <span class="title">{{childOfChildMenuItem.displayName}}</span>
                                </a>
                                <a href="javascript:;" class="nav-link nav-toggle" ng-if="childOfChildMenuItem.items.length">
                                    <i class="{{childOfChildMenuItem.icon}}"></i>
                                    <span class="title">{{childOfChildMenuItem.displayName}}</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu" ng-if="childOfChildMenuItem.items.length">
                                    <!-- Menu Level 4 -->
                                    <li ui-sref-active="active" ng-repeat="childOfChildOfChildMenuItem in childOfChildMenuItem.items">
                                        <a ui-sref="{{childOfChildOfChildMenuItem.url}}">
                                            <span>
                                                <i class="sub-menu-icon {{childOfChildOfChildMenuItem.icon}}"></i>{{childOfChildOfChildMenuItem.displayName}}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>*@   


<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li ng-class="{'start':$first}" ng-repeat="menuItem in vm.menu.items" class="nav-item" ui-sref-active="active">
            <a ui-sref="{{menuItem.url}}" ng-if="!menuItem.items.length">
                <i class="{{menuItem.icon}}"></i>
                <span class="title">{{menuItem.displayName}}</span>
            </a>
            <a href="javascript:;" class="nav-link nav-toggle" ng-if="menuItem.items.length">
                <i class="{{menuItem.icon}}"></i>
                <span class="title">{{menuItem.displayName}}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu" ng-if="menuItem.items.length">
                <!-- Menu Level 2 -->
                <li ng-repeat="childMenuItem in menuItem.items" ng-class="{'start':$first}" class="nav-item" ui-sref-active="active">
                    <a ui-sref="{{childMenuItem.url}}" ng-if="!childMenuItem.items.length">
                        <i class="{{childMenuItem.icon}}"></i>
                        <span class="title">{{childMenuItem.displayName}}</span>
                    </a>
                    <a href="javascript:;" class="nav-link nav-toggle" ng-if="childMenuItem.items.length">
                        <i class="{{childMenuItem.icon}}"></i>
                        <span class="title">{{childMenuItem.displayName}}</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" ng-if="childMenuItem.items.length">
                        <!-- Menu Level 3 -->
                        <li ng-repeat="childOfChildMenuItem in childMenuItem.items" class="nav-item" ui-sref-active="active" ng-class="{'start':$first}">
                            <a ui-sref="{{childOfChildMenuItem.url}}" ng-if="!childOfChildMenuItem.items.length">
                                <i class="{{childOfChildMenuItem.icon}}"></i>
                                <span class="title">{{childOfChildMenuItem.displayName}}</span>
                            </a>
                            <a href="javascript:;" class="nav-link nav-toggle" ng-if="childOfChildMenuItem.items.length">
                                <i class="{{childOfChildMenuItem.icon}}"></i>
                                <span class="title">{{childOfChildMenuItem.displayName}}</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" ng-if="childOfChildMenuItem.items.length">
                                <!-- Menu Level 4 -->
                                <li ui-sref-active="active" ng-repeat="childOfChildOfChildMenuItem in childOfChildMenuItem.items">
                                    <a ui-sref="{{childOfChildOfChildMenuItem.url}}">
                                        <span>
                                            <i class="sub-menu-icon {{childOfChildOfChildMenuItem.icon}}"></i>{{childOfChildOfChildMenuItem.displayName}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>    
    </ul>
    <!-- END SIDEBAR MENU -->
</div>